<app-header></app-header>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <caption></caption>
            <thead>
                <tr>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Sr.No</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Pick-Up Location</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Drop-Off Location</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Pick-Up Date</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Drop-Off Date</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Pick-Up Time</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Drop-Off Time</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Amount</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Cancel</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Status</th>
                    <th style="background-color: #1367e6; color: white; border: 1px solid #949292; padding: 10px; height: 20px; text-align: center;">Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookings; let i = index">
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">{{ i + 1 }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">{{ booking.pickUpLocation }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">{{ booking.dropOffLocation }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">{{ booking.pickUpDate | date: 'yyyy-MM-dd' }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">{{ booking.dropOffDate | date: 'yyyy-MM-dd' }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">{{ booking.pickUpTime }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">{{ booking.dropOffTime }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">&#8377;{{ booking.amount }}</td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">
                        <a *ngIf="!booking.isBlocked" (click)="deleteHandler(booking.bookingId, booking)" class="btn btn-danger" [class.disabled]="booking.status === 'On Going' || booking.status === 'Completed'" style="text-decoration: none; color: white;">Cancel</a>
                        <a *ngIf="booking.isBlocked" class="btn btn-danger disabled" style="text-decoration: none; color: white;">Terminated</a>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 10px; text-align: center;">
                        {{ booking.status }}
                    </td>
                    <td *ngIf="booking.status==='On Going' || booking.status==='Completed'" style="border: 1px solid #ccc; padding: 10px; text-align: center;">
                        <button (click)="updateHandler(booking)" class="btn btn-secondary disabled" style="text-decoration: none; color: white;">Update</button>
                    </td>
                    <td *ngIf="booking.status==='UpComing'" style="border: 1px solid #ccc; padding: 10px; text-align: center;">
                        <button (click)="updateHandler(booking)" class="btn btn-secondary" style="text-decoration: none; color: white;">Update</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>
